{% extends 'layouts/app.html' %}

{%block content%}
<div class="container mt-5">
    <h2 class="mb-6">Projects Table</h2>
    <br>
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br>
    {% endif %}
    <a href="{% url 'create' %}" class="btn btn-primary mb-4">Create New Project</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in view_data.projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                    <a href="{% url 'edit' project.id %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url 'delete' project.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
                <td>
                    <a href="{% url 'show' project.id %}" class=" btn btn-info btn-sm">See more</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}